body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}



#app {
  display: grid;
  margin: 15px;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "graph main"
    "footer footer";
}


nav {
  grid-area: header;
}

.graph {
  grid-area: graph;

}

.main {
  grid-area: main;

}
